

$red-color : #f50a16;
$white-color : #ffffff;
$black-color : #000000;
$background-footer : #E0E0E0;
$border-color: #c4c4c4;

$remove-btn-color : #da5350;
$detail-btn-color: #06bcd4;
$done-btn-color: #2096f3;
$add-btn-color: #5cb85d;